/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap");

/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620; /* dark brown */
    --secondary-color: #aa9581; /* light brown */
    --highlight-color: #416a8e; /* blue */
    --highlight-color-light: #7a9fc2; /* light blue */
}

/* Global styles */

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1,
h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

/* Navbar */

#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 30px;
}

/* Header */
#header .lead {
    font-family: var(--secondary-font);
}

/* Services section */

#services .card {
    margin-bottom: 1.5rem;
}

#services .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

/*media queries*/

/*tablet and larger screens*/
@media screen and (min-width: 768px) {
    /*make all service cards the same height*/
    #services .card-body {
        min-height: 191px;
    }
}

/*desktop and larger screens*/
@media screen and (min-width: 992px) {
    /*make all service cards the same height*/
    #services .card-body {
        min-height: auto;
    }
}

/*desktop large and larger screens*/
@media screen and (min-width: 1200px) {
    /*make all service cards the same height*/
    #services .card-body {
        min-height: 220px;
    }
}

/*extra large and larger screens*/
@media screen and (min-width: 1400px) {
    /*make all service cards the same height*/
    #services .card-body {
        min-height: 195px;
    }
}

/* grid visualisation CSS for testing */

/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */
